body {
  /* remove any inherited max-width limitations; use the entire width of the screen */
  max-width: unset;
  min-width: 550px;
  font-size: 1.1em;
  align-content: center;
  margin: 0;
}
@media only screen and (max-width: 1000px) {
  body { xbackground-color: yellow; font-size: 1.0em; }
  .c-header-group { flex-direction: column;}
}

@media only screen and (min-width: 1001px) {
  body { xbackground-color: yellow; font-size: 1.2em; }
}

@media only screen and (min-width: 1200px) {
  body { xbackground-color: orange; font-size: 1.3em; }
}

@media only screen and (min-width: 1600px) {
  body { xbackground-color: red; font-size: 1.4em; }
}

@media only screen and (min-width: 2000px) {
  body { xbackground-color: purple; font-size: 1.5em; }
}

@media only screen and (min-width: 3000px) {
  body { xbackground-color: magenta; font-size: 2em; }
}

@media only screen and (min-width: 4000px) {
  body { xbackground-color: rgb(255, 140, 255); font-size: 3em; }
}

.c-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5em 1em;
  line-height: 1.2;
  /* limit width to avoid squashing elements */
  max-width: unset;
  /* min-width: min-content; */
}

.flex-r {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

/* FIXME: Remove class */
.flex-c {
  display: flex;
  flex-direction: column;
}

.c-header-group {
  display: flex;
  justify-content: space-around;
  margin: 1.3em;
  /* Keep radiobuttons and whitespaces together (requires using <span>) */
  white-space: nowrap;
  min-width: fit-content;
  align-items: center;
}

.c-input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-envly;
  align-items: center;
  font-size: 1.2em;
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 0.5em;
  padding: 0.3em 2em;
  min-width: fit-content;
}

.c-filter-group {
  display: flex;
  flex-direction: row;
}

.c-title {
  display: flex;
  justify-content: center;
}

/* Retro 3D effect for page titel- https://codepen.io/cssinate/pen/jzeEdq */
.c-page h1 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 4em;
  font-weight: bold;
  transform: skew(-15deg) rotate(-15deg);
  text-shadow:
     0.05em  0.05em 0 #E79C10,
    -0.05em -0.05em 0 #D53A33;
  color: #1d9099;
  margin: 0.5em;
  padding: 0em 0.2em;
  max-width: min-content;
}

/* Shadow effect for cocktail title - https://kinsta.com/blog/css-text-outline */
.c-page h2 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #933;
  text-shadow:
     0.0625em  0.0625em 0.15em #c88,
    -0.0625em  0.0625em 0.15em #c88,
    -0.0625em -0.0625em 0.15em #c88,
     0.0625em -0.0625em 0.15em #c88;
  margin: 0.3em 0.2em;
}

.c-card-group {
  flex-wrap: wrap;
  justify-content: center;
}

/* Container for background image. z-index puts it under all objects */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_top_left */
.c-bg {
  display: flex;
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: -10;
  transition: all .3s;
  opacity: 100;
}

/* Background image style */
.c-bg img{
  width: 100%;
  height: 100%;
  opacity: 100%;
  object-fit: contain;
  /* filter: brightness(50%); */
  filter: blur(0.2em);
}

.c-bg-retro {
  /* Retro-looking wallpaper: https://www.freecodecamp.org/news/css-radial-gradient */
  background:
    radial-gradient(10% 10%,#fff 98%,#0000),
    radial-gradient(54% 54%,#0000 98%,#f7e3cc) 25px 25px;
  background-size:50px 50px;
  flex-wrap: wrap;
}

.c-bg-gradient {
  /* Nice gradient:/* Gradient - https://uigradients.com/#Relay */
  /*
  /* fallback for old browsers */
  background: #3A1C71;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
}

/* z-index puts this div on top of all objects */
.c-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.3em;
  padding: 0.5em 0.5em;
  z-index: 10;
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 0.7em;
  transition: all .3s;
  transform-origin: center;
  will-change: transform;
}

.c-hide-unused {
  transform: scale(1.3,1.3);
  opacity: 0;
  display: none;
}

.c-hide {
  opacity: 0;
}

/* Hover is used during development to test transitions */
.c-zoom {
  transform: scale(1.5,1.5);
  filter: none;
  z-index: 100;
}

.c-list {
  display: flex;
  font-size: 1em;
  font-family: sans-serif;
  background-color: rgba(190, 170, 170, 0.4);
  border-radius: 0.4em;
  padding: 0 0.4em;
  line-height: 1.2;
  justify-content: space-between;
  width: 60%;
  min-width:fit-content;
}

/* zigzag */
/*
.c-list :nth-child(odd) {
  transform: rotate(2deg);
}
.c-list :nth-child(even) {
  transform: rotate(-2deg);
}
*/

.c-amount {
  color: rgb(6, 28, 81);
  text-align: center;
}

.c-ingredient {
  align-items: right;
  margin: 0em 0.4em;
  color: rgb(81, 28, 6);
}

.c-prep,
.c-garnish {
  font-weight: bold;
  font-size: 0.8em;
  background-color: rgba(190, 170, 170, 0.4);
  border-radius: 0.2em;
  margin: 0.2em 0em;
  padding: 0.1em 0.4em;
}

.c-prep ul{
  padding: 0 1em;
  margin: 0.4em 0;
}

input,label {
  cursor: pointer;
}

/*=== Toggle =============*/

.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(171, 94, 37,  0.4);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0.5em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f3a621;
}

input:focus + .slider {
  box-shadow: 0 0 0.2em #f3a621;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.8);
  -ms-transform: translateX(0.8em);
  transform: translateX(0.8em);
}

/*=== Radio buttons =============*/

input[type="radio"] {
    height: 1.2em;
    width: 1.2em;
    margin: 0em 0.2em;
    accent-color: #f3a621;
}

/*=== Search bar ===============*/

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  /* width: 100%; */
  height: 1.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 1.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/*===========================*/
