{{- /* vim: set ts=2 sw=2 sts=2 et: */}}
<!DOCTYPE html>
<html data-builddate="{{ now.UTC }}" lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{- partial "head.html" . -}}
  {{/* https://krdevnotes.com/5-best-css-reset-normalization-libraries/                         */}}
  {{/**/}}
  {{- $files := slice "css/normalize.css" "css/cocktails.css" -}}
  {{- range $files -}}
    {{- with resources.Get . -}}
        {{- $secureObject := . | resources.Fingerprint "sha512" -}}
        <link rel="stylesheet" href="{{ $secureObject.RelPermalink }}" integrity="{{ $secureObject.Data.Integrity }}">
    {{- end }}
  {{- end }}
  {{/* https://jquery.com/             https://jquery.com/download/                             */}}
  {{/* https://masonry.desandro.com/   https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js  */}}
  {{/* https://isotope.metafizzy.co/   https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js  */}}
  {{/**/}}
  {{- $files := slice "js/jquery-3.7.1.js" "js/masonry-4.2.2.js" "js/isotope-3.0.6.js" "js/cocktails.js" -}}
  {{- range $files -}}
    {{- with resources.Get . -}}
    {{/* Hugo minify breaks isotope.js so is disable for now. The hardcoded true/false is for debugging. -}}
    {{/* $minified_js := . | resources.Minify -*/}}
      {{- if true -}}
        {{- $secureObject := . | resources.Fingerprint "sha512" -}}
        <script defer src="{{ $secureObject.RelPermalink }}" integrity="{{ $secureObject.Data.Integrity }}"></script>
      {{- else }}
        <script defer src="{{ .RelPermalink }}"></script>
      {{ end }}
    {{ end }}
{{- end }}
</head>
<body>
  <main>
    <div class="c-page c-bg-retro">
      {{/* Buildstamp: {{ now.UTC }} */}}
      {{- range $.Site.Data.cocktails -}}
        <div class="c-header-group">
          <div class="c-title">
            <h1>{{ .name }}</h1>
          </div>

          <div class="c-input-group">
            <!-- Thanks to Konstantin Münster - https://codepen.io/kmuenster/pen/XWWeQGw -->
            <div class="wrapper flex-r">
              <div class="searchBar">
                <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="" value="" />
                  <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                  </svg>
                  </button>
              </div>
                <label class="switch" for="c-toggleBackground">
                <input type="checkbox" class="slider" id="c-toggleBackground">
                <span class="slider"></span>
                </label>
            </div>

            <div class="c-filter-group">
              <div class="flex-c">
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="*"         id="all" checked><label for="all">All</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="gin"       id="gin"><label for="gin">Gin</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="whiskey"   id="whiskey"><label for="whiskey">Whiskey</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="vodka"     id="vodka"><label for="vodka">Vodka</label></span>
              </div>
              <div class="flex-c">
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="mezcal"    id="mezcal"><label for="mezcal">Mezcal</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="cognac"    id="cognac"><label for="cognac">Cognac</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="vermouth"  id="vermouth"><label for="vermouth">Vermouth</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="triplesec" id="tripleSec"><label for="tripleSec">Triple sec</label></span>
              </div>
              <div class="flex-c">
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="bitter"    id="bitter"><label for="bitter">Bitter</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string="citrus"    id="citrus"><label for="citrus">Citrus</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string=".favorite" id="favorite"><label for="favorite">Favorites</label></span>
                <span><input type="radio" name="recipe-filter" class="c-radio-button" data-string=".tryme"    id="tryme"><label for="tryme">Try me</label></span>
              </div>
            </div>
          </div>
        </div>

        <div class="c-card-group">
        {{- range .recipes }}
          <div class="c-card{{ range .tags }} {{ . }}{{ end }}">
            <h2 class="c-name">{{ title (upper .name) }}</h2>

            <div class="c-list">
              <div class=c-amount>
                {{- range .ingredients -}}
                 <div> {{ .amount }}{{ lower .unit}}</div>
                {{- end }}
              </div>
              <div class=c-ingredient>
                {{- range .ingredients -}}
                  <div>{{ title .name }}</div>
                {{- end }}
              </div>
            </div>

            {{ if .garnish }}
              <div class="c-garnish">
                Garnish: {{ range $i, $e := .garnish }}{{ if $i }}, {{ end }}{{ title $e }}{{ end }}
              </div>
            {{ end }}

            {{- with .prep -}}
              <div class=c-prep>
              <ul>
                {{- range . -}}
                  <li>{{ title . }}</li>
                {{- end }}
              </ul>
                </div>
            {{- end }}

            {{/* Replace spaces with hyphens to generate image file name */}}
            {{- $img_path := print "images/" (replace (lower .name) " " "-") ".jpg" -}}
            {{/* Remove special characters from title to generate image file name */}}
            {{- $img_path := replaceRE "[#’']" "" $img_path -}}
            {{- with resources.Get $img_path -}}
              <div class="c-bg">
                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
              </div>
            {{- end }}

          </div>
        {{- end }}
      </div>
      {{- end }}
    </div>
  </main>
</body>
</html>
